.Lexical__ltr {
 	padding-bottom: 3px
}

.Lexical__ul {
  	padding-left: 10px
}

.Lexical__ol1 {
  	padding-left: 10px
}

.Lexical__ol2 {
  	padding-left: 10px
}

.Lexical__ol3 {
  	padding-left: 10px
}

.Lexical__ol4 {
  	padding-left: 10px
}

.Lexical__ol5 {
  	padding-left: 10px
}

ul {
	list-style-type: square;
}

.Collapsible__container {
	background: none;
	border: none;
	border-left: 5px solid var(--sn-stylekit-contrast-border-color);
	border-radius: 0px;
}

.Collapsible__title {
     	font-size: 22px;
}

.Lexical__quote {
	margin-bottom: 5px;
	margin-top: 5px;
}

.super-empty-line-placeholder {
	visibility: hidden; 
	display: none;
}

#simple-markdown * {
	margin-block-end: 0px;
	margin-block-start: 0px;
	line-height: 1.6em;
}

#simple-markdown h1 {
	margin-top: 18px;
}

#simple-markdown h2 {
	margin-top: 18px;
}   

#simple-markdown h3 {
	margin-top: 18px;
}

#simple-markdown ul {
	padding-left: 30px;
}

#simple-markdown ol {
	padding-left: 30px;
}

@media screen and (min-width: 768px) {
.md\:overflow-y-hidden {
    overflow-y: auto;
}
}
