.Lexical__ltr {
 padding-bottom: 3px
}

.Lexical__ul {
  padding-left: 10px
}

.Lexical__ol1 {
  padding-left: 10px
}

.Lexical__ol2 {
  padding-left: 10px
}

.Lexical__ol3 {
  padding-left: 10px
}

.Lexical__ol4 {
  padding-left: 10px
}

.Lexical__ol5 {
  padding-left: 10px
}

ul {
	list-style-type: square;
}

.Collapsible__container {
 background: none;
 border: none;
border-left: 5px solid var(--sn-stylekit-contrast-border-color);
border-radius: 0px;
}

.Collapsible__title {
      font-size: 22px;
}

.Lexical__quote {
		margin-bottom: 5px;
    margin-top: 5px;
}

.Lexical__listItemChecked:after {
	top: 6px;
}
